
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Get Daily weather</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="~/Web/css/bootstrap.min.css" rel="stylesheet">

        <link href="~/Web/css/bootstrap-icons.css" rel="stylesheet">

        <link href="~/Web/css/templatemo-tiya-golf-club.css" rel="stylesheet">
        
<!--

TemplateMo 587 Tiya Golf Club

https://templatemo.com/tm-587-tiya-golf-club

-->
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">                
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="index.html">
                        <img src="~/Web/images/logo.png" class="navbar-brand-image img-fluid" alt="Weather">
                        <span class="navbar-brand-text">
                           
                            <small>Weather</small>
                        </span>
                    </a>

                    <div class="d-lg-none ms-auto me-3">
                        <a class="btn custom-btn custom-border-btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Member Login</a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link click-scroll" asp-controller="WeatherForcast" asp-action="SearchByCity">City Weather</a>
                            </li>
    
                            <li class="nav-item">
                            <a class="nav-link click-scroll" asp-controller="WeatherForcast" asp-action="DailyTemp">Day Weather</a>
                            </li>
               
                        </ul>

                    </div>
                </div>
            </nav>

        </main>
        @RenderBody()
        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    
                </div>
            </div>

        
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="~/Web/js/jquery.min.js"></script>
        <script src="~/Web/js/bootstrap.bundle.min.js"></script>
        <script src="~/Web/js/jquery.sticky.js"></script>
        <script src="~/Web/js/click-scroll.js"></script>
        <script src="~/Web/js/animated-headline.js"></script>
        <script src="~/Web/js/modernizr.js"></script>
        <script src="~/Web/js/custom.js"></script>

    </body>
</html>